@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --success-color: #6ab04c;
  --site-color: #f44336;
  --danger-color: #ff0707;
  --main-color: #727475;
  --main-bg-color: #fff;
  --second-bg-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-style: italic;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  min-height: 2000px;
}

.dark {
  --main-color: #f5f6fa;
  --main-bg-color:#23242d;
  --second-bg-color: #181818;
}

.shadow- {
  -webkit-box-shadow: 0 1px 4px 1px rgba(201, 200, 200, 0.2) !important;
          box-shadow: 0 1px 4px 1px rgba(201, 200, 200, 0.2) !important;
}

/***********  nav  *************/
nav {
  z-index: 1;
  background-color: var(--main-bg-color);
  font-size: 22px;
  padding: 5px 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: 60px;
}

nav .pointer {
  cursor: pointer;
}

nav .input-box {
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: var(--second-bg-color);
  padding: 5px 30px;
  color: var(--main-color);
}

nav .notices ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  background-color: var(--main-bg-color);
  -webkit-box-shadow: 0 16px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 16px 0 rgba(0, 0, 0, 0.02);
  border-radius: 7px;
  max-height: 300px;
  overflow-y: auto;
}

nav .notices ul.active {
  display: block;
}

nav .notices ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--second-bg-color);
  cursor: pointer;
  font-size: 15px;
}

nav .notices ul li:hover {
  background-color: var(--second-bg-color);
}

nav .notices ul li p {
  padding-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

nav .notices ul li p:hover {
  white-space: pre-wrap;
}

nav .notices ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

/***********  Content  *************/
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .sidebar {
  padding-top: 15px;
  height: calc(100vh - 60px);
  width: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.12);
  font-size: 17px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--main-bg-color);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.content .sidebar:hover, .content .sidebar.active {
  width: 250px;
}

.content .sidebar .sidebar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.content .sidebar .sidebar-nav:hover {
  background-color: var(--second-bg-color);
}

.content .sidebar .sidebar-nav:hover::before {
  content: "";
  top: 0;
  left: 5px;
  position: absolute;
  background-color: var(--main-color);
  height: 100%;
  width: 5px;
  border-radius: 10px;
}

.content .sidebar .sidebar-nav.active::before {
  content: "";
  top: 0;
  left: 5px;
  position: absolute;
  background-color: var(--site-color);
  height: 100%;
  width: 5px;
  border-radius: 10px;
}

.content .sidebar .sidebar-nav .icon {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.content .wrapper {
  width: 100%;
  padding: 20px;
  background-color: var(--second-bg-color);
}

.content .wrapper .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23%;
  min-height: 150px;
  overflow: hidden;
  margin: 10px 1%;
  padding: 20px;
  color: #fff;
  border-radius: 5px;
}

.content .wrapper .box:nth-of-type(odd) {
  background: -webkit-gradient(linear, left top, right top, from(#fc4a1a), to(#f78b33));
  background: linear-gradient(to right, #fc4a1a, #f78b33);
}

.content .wrapper .box:nth-of-type(even) {
  background: -webkit-gradient(linear, left top, right top, from(#56ab2f), to(#63e07e));
  background: linear-gradient(to right, #56ab2f, #63e07e);
}

.content .wrapper .box img {
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.content .wrapper .box:nth-of-type(1) img {
  left: 10px;
  width: 50px;
}

.content .wrapper .box:nth-of-type(4) img {
  right: 10px;
  width: 50px;
}

.content .wrapper .box span {
  position: relative;
  font-size: 20px;
}

.content .wrapper .table-t {
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 20px;
  overflow: auto;
  border-radius: 4px;
}

.content .wrapper .table-t table {
  color: var(--main-color);
  text-align: center;
}

.content .wrapper .table-t table div {
  padding-top: 15px;
}

.content .wrapper .table-t .id {
  position: relative;
}

.content .wrapper .table-t .id::before {
  content: "";
  height: 70%;
  width: 5px;
  background-color: var(--site-color);
  position: absolute;
  left: 0;
  top: 10px;
  border-radius: 4px;
}

.content .wrapper .table-t .progress-1 {
  margin-top: 20px;
  width: 75%;
  margin-left: 10%;
  height: 8px;
  background-color: var(--main-color);
  border-radius: 3px;
  position: relative;
}

.content .wrapper .table-t .progress-1 .bar::before {
  content: "";
  background-color: var(--site-color);
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  height: 100%;
  border-radius: 3px;
}

.content .wrapper .table-t .progress-1 .bar::after {
  content: "80%";
  position: absolute;
  top: -18px;
  left: 20px;
  font-size: 13px;
}

.content .wrapper .table-t .status span {
  padding: 5px 7px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.content .wrapper .table-t .status .cancel {
  background-color: var(--site-color);
}

.content .wrapper .table-t .status .accepted {
  background-color: var(--success-color);
}

.content .wrapper .table-t .action button {
  margin: 0 4px;
  padding: 5px 15px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
}

.content .wrapper .table-t .action button:first-of-type {
  background-color: var(--success-color);
}

.content .wrapper .table-t .action button:last-of-type {
  background-color: var(--site-color);
}

.content .wrapper .chart {
  height: 500px;
  border-radius: 4px;
  background-color: var(--main-bg-color);
}

/********  SideBar  *******/
/********  Wrapper  *******/
/*********** End  Content  *************/
/*********** Responsive  *************/
@media (max-width: 1024px) {
  .content .wrapper .box {
    width: 48%;
  }
  .content .wrapper #chart {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .content .wrapper .box {
    width: 98%;
  }
  .content .wrapper .table-t .action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .wrapper .table-t .action button {
    margin: 0 4px;
    padding: 2px 5px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
  }
  .content .sidebar {
    position: fixed;
    z-index: 1;
    width: 0;
  }
}

@media (max-width: 600px) {
  nav .input-box {
    display: none;
  }
  nav .bi-search {
    display: none;
  }
}
